header{
    background-color: black; 
    color: white; 
    padding: 10px; 
    position:sticky;
    top: 0;
    z-index: 999;
    display:flex;
    flex-direction: row;
}
.main_title{
    text-align: center;
}
body{
    font-family: sans-serif;
    background-attachment: fixed;
    background-image: url("https://i.postimg.cc/66gFSBMX/image.png");
    background-size: cover;
    background-position: center;
}
.nav_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.screenshot{
    height: auto;
    width: 98%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.main_text{
    text-align: center;
    color: black;
    font-size: 1.2em;
    margin: 20px;
}
footer{
    background-color: darkorange;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
#easter_egg{
    color: darkorange;
    font-weight: bold;
    text-decoration: none;
}
.easter_egg:hover{
    color: red;
    text-decoration: underline;
}
.easter_egg_body{
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGVsb3U5Zjdwd25oM3JodTlxaTUycGZrbDJlejFhZ2lzcWZpbDVsNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/WGkWVhLlPhW7u/giphy.gif");
}
